{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<div class="jumbotron text-center">
            <h1>Login to Re-Se@rch</h1>
            <p>Register for our mailing list</p>
            <p>Never lose another reseach!</p>
            <p>We are with you</p>
            <br><br><br><br>
</div>
<div class="container">
            <form action="{{url_for('login')}}" data-toggle="validator" id="registration" method="post">
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input class="form-control" name="email" required type="text"/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Password</label>
                    <input class="form-control" data-minlength="8" name="password" required type="password"/>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Login</button>
                </div>
            </form>
        </div>

    {% with messages=get_flashed_messages() %}
        {% if messages %}                                  <!-- to show flashed messages sent by cookies-->
            {% for message in messages %}
                <h4 style="color:red;text-align:center">{{message}}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}