{% extends "index.html" %}

{% block title %}
    History
{% endblock %}

{% block body %}
<style>

td
{
    font-size:22px;
}

th
{
    font-size:25px;

}
body
{
    background-color:LightGrey;
    width:100%;
    height:100%;
}
</style>


<div class="container">
  <h2 style="font-size:70px;">Your Notes</h2>
  <br>
  <h3>Your own personal notebook</h3>
  <br><br><br>

      <table style="width:100%;height:350px" class="table table-hover">
    <thead>
      <tr>
        <th><b>Serial number</b></th>
        <th><b>Note</b></th>
        <th><b>Time when recorded</b></th>
      </tr>
    </thead>
    <tbody>
        {% for event in notes %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{event.note}} </td>
            <td>{{event.time}}</td>
            <td> <a href="{{ url_for('rmv',val=event.note,table='notes') }}">Remove</a> </td>
          </tr>
          {% endfor %}
     </tbody>
     </table>
      <br>
     <form action = "{{url_for('notes')}}" method='post' class='form-group'>
         <input name="notes" type="textbox" class='form-control' style="width:100%;height:100px;text-align:center" placeholder="Add a new note to your collection of intellectual portfolio"/>
         <button type="submit" class='btn btn-default'>Note it down!</button>
     </form>

</div>
{% endblock %}