{% if status=="logged_in" %}
{% extends "index.html" %}
{% elif status=="logged_out" %}
{% extends "layout.html" %}
{% endif %}

{% block title %}
    Relax
{% endblock %}



{% block body %}


<div style="background-color:LightGrey;width:100%;height:100%;">
    <h1 style="text-align:center;font-size:50px">T@ke a chill pill and rel@x!</h1>
    <br><br>
<form action="{{url_for('relax')}}" method='post' id='form-group'>
<center><input type="text" name="query" style="height:50px" size="50" placeholder="Look for more" class="form-control " id="query"></center>
<button style="align-items:center; width:125px;" id="button" type="submit" class="btn btn-default">Search</button>
    <br><br>
</form>
<br>

<br><br>
<center id="frame"> <iframe width="1000" height="600" src="https://www.youtube.com/embed/R9NCI-naXbU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> </center>
</div>
<br>

{% endblock %}
