beautifulsoup4==4.6.0
boto==2.38.0
bs4==0.0.1
chardet==2.3.0
click==6.7
cryptography==1.2.3
cs50==2.3.3
duplicity==0.7.6
enum34==1.1.2
Flask==0.12.2
html5lib==1.0.1
idna==2.0
ipaddress==1.0.16
IPy==0.83
itsdangerous==0.24
Jinja2==2.10
keen==0.5.1
lockfile==0.12.2
lxml==4.1.1
MarkupSafe==1.0
ndg-httpsclient==0.4.0
pyasn1==0.1.9
pycryptodome==3.4.11
pygobject==3.20.0
pyOpenSSL==0.15.1
python-cloudfiles==1.7.10
pyxdg==0.25
requests==2.9.1
six==1.10.0
SQLAlchemy==1.2.2
sqlparse==0.2.4
termcolor==1.1.0
urllib3==1.13.1
vboxapi==1.0
webencodings==0.5.1
Werkzeug==0.14.1
apturl==0.5.2
beautifulsoup4==4.4.1
Brlapi==0.6.4
chardet==2.3.0
chrome-gnome-shell==0.0.0
click==6.7
command-not-found==0.3
cs50==2.4.0
defer==1.0.6
Flask==0.12.2
html5lib==0.999
itsdangerous==0.24
Jinja2==2.10
kazam==1.4.5
language-selector==0.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==1.0
passlib==1.7.1
pexpect==4.0.1
Pillow==8.2.0
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.1
python-debian==0.1.27
python-systemd==231
pyxdg==0.25
reportlab==3.3.0
requests==2.9.1
sessioninstaller==0.0.0
six==1.10.0
SQLAlchemy==1.2.5
sqlparse==0.2.4
system-service==0.3
termcolor==1.1.0
tornado==4.5.3
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
usb-creator==0.3.0
Werkzeug==0.14.1
xdiagnose==3.8.4.1
xkit==0.0.0
